APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost
APP_TIMEZONE=UTC

MAIL_DRIVER=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=